marquee{ 
    color: red;
    font-size: 50px;
}
h1{
    background-color: blue;
    font-size: 80px;
    font-style: oblique;
    color:aliceblue;
    
  
}
from{
    color: blue;
}

.header{
    position: sticky;
    top: 0;
    z-index: inherit;

}

.box1{
    width: 600px;
    height:400px;
    background-color:green;
    position: relative;
}
.box2{
    width:300px;
    height: 200px;
    background-color: red;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
}
.shamim{
    color: red;
    font-size: 50px;
    position: fixed;
    bottom: 0;
    right: 0;  
    background-color: aqua;
    font-style:oblique;
}
.box3{
    width: 400px;
    height: 200px;
    background-color: brown;
}

.box4{
    width:400px;
    height:200px;
    background-color: blue;
}
.box5{
    width: 400px;
    height: 200px;
    background-color: black;
}

.box3, .box4, .box5, .box6{
    float: left;
    margin: auto;
}

p{
    padding-bottom: 100px;
}

.box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}   
input{
    font-size:20px;
}

h3:nth-child(4){
    color: red;
}

p::first-letter{
    color:red;
    font-size:30px;
}
img{
    width:100px;
}
img:hover{
    opacity:0.5;
}
.bg{
    width:700px;
    height: 400px;
    background: url(love_2.jpg) no-repeat center;
    overflow: hidden;
}
.box h2{
  text-align: center;
  background-color: white;
  padding: 5px;
  margin-top: 200px;
  opacity: 0.5; 
    
}
