marquee{ 
    color: red;
    font-size: 50px;
}
h1{
    background-color: blue;
    font-size: 80px;
    font-style: oblique;
    color:aliceblue;
    position:sticky;
    top: 0;
}
from{
    color: blue;
}

.box1{
    width: 600px;
    height:400px;
    background-color:green;
    position:relative;
}
.box2{
    width:300px;
    height: 200px;
    background-color: red;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
}
.shamim{
    color: red;
    font-size: 50px;
    position: fixed;
    bottom: 0;
    right: 0;  
    background-color: aqua;
    font-style:oblique;
}
.box3{
    width: 400px;
    height: 200px;
    background-color: brown;
}

.box4{
    width:400px;
    height:200px;
    background-color: blue;
}
.box5{
    width: 400px;
    height: 200px;
    background-color: black;
}
.box6{
    width: 400px;
    height:200px;
    background-color:green;
}
.box3, .box4, .box5, .box6{
    float: left;
    margin: auto;
}

p{
    padding-bottom: 300px;
}

.box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}   